 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.header {

  text-align: center;
}



.main {

  text-align: center;

  section {
    @include outer-container;
    aside { @include span-columns(3); }
    article { @include span-columns(9); }
  }
}

.footer {

  text-align: center;
}
