 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import url('http://fonts.googleapis.com/css?family=Oswald');

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/*Variables */

/* Colors */
$color1: hsl(60,16,95);   // background color
$color2: #776666;         // Dark grey text color
$color3: #6092b5;         // blue sidebar text color
$color4: #666666;         // non bold text color
$color5: #b2b2b2;         // light grey Shop name color
$color6: #78c042;         // price color
$color7: #106DB3;
$color8: black;
$color9: #FFF;

$fontfamily1: "Oswald", sans-serif;
$fontfamily2: "Open Sans" Sans-serif;


// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.header {

  text-align: center;
}


.main {

  text-align: center;

  section {
    background-color: $color1;
    @include outer-container;


    aside {
      @include span-columns(3);

      ul {
        background-color: white;
        list-style-type: none;
        text-align: left;
        color:$color2;
        font-weight: bold;
      }

      .categories {

      ul {
          color: $color3;
          }
        }

      li {
        font-weight: normal;
        color: $color3;
        padding: 5px;
      }

      .price{
        input{
          width: 50px;
        }
      }


    }

    article {

      @include span-columns(9);

      background-color: $color1;

        li {
          display: inline-block;
          vertical-align: middle;
        }

        .mainbox {

          :hover .item{
            box-shadow: 1px 1px 1px 1px $color2;

            .heart{
            opacity: 0.5;
            }

            .hamburger{
            opacity: 0.5;
            }
          }

          clear: both;
          display: inline-block;
          font-family:$fontfamily1;
          margin: 0px auto;
          text-align: center;

          a {
            text-decoration: none;
            font-size: 0px;
          }

          .item {
            @include size(220px 220px);
            position: relative;
            background-color: white;
            border: 5px solid white;
            margin: 20px auto;
            text-align: center;

            .description {
              text-align: left;
              width: 200px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: $color4;
              }

            .leftimg {
              float: left;
              text-align: left;
              position: relative;
              text-transform: uppercase;
              width: 75px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: $color5;
              }

            .rightimg {
              float: right;
              position: relative;
              font-family: "Oswald", sans-serif;
              width: 75px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: $color6;
              }

            p.ad{
              @include position(absolute, 5px null null 5px);
              @include size(25px 25px);
              margin: 0px;
              background-color: $color6;
              opacity: 0.5;
              padding: 5px;
              color: white;
              background-color: $color2;
              border-radius: 5px;
              font-size: 8px;
            };

            .hamburger{
              @include position(absolute, 5px 5px null null);
              @include size(35px 25px);

              img {
                @include size(35px 25px);
              };

              margin: 0px;
              background-color: $color6;
              opacity: 0;
              padding: 2px;
              color: white;
              background-color: $color2;
              border-radius: 5px;
            }

            .heart{
              @include position(absolute, 5px 45px null null);
              @include size(25px 25px);
              margin: 0px;
              background-color: $color6;
              opacity: 0;
              padding: 2px;
              color: white;
              background-color: $color2;
              border-radius: 5px;

              img {
                @include size(25px 25px);
                padding: 5px;
              };
              }


          }
        }
      }
    }


.footer {

  text-align: center;
}
}
